/* Tables */

table,
th {
  border: none;
  text-align: center;
}

thead,
th,
td {
  border-width: 2px;
  border-style: outset;
}

thead,
th {
  padding: 5px;
}

.table-style {
  width: 100%;
}

.td-cat {
  width: 200px;
  padding: 0 3rem;
}

.td-style {
  padding: 0 5px;
}

.td-title {
  font-weight: bold;
}

.td-content {
  width: 400px;
  font-size: 12px;
}

.td-image-div {
  padding: 0;
  height: 100px;
}

.td-image {
  height: 135px;
  width: 220px;
}

.td-div {
  border-width: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.td-btn {
  color: rgb(0, 0, 0);
  padding: 8px 20px;
}

.td-btn:hover {
  color: white;
  text-decoration: none;
}

.td-btn-success {
  background-color: greenyellow;
}

.td-btn-reject {
  background-color: orange;
}

.td-btn-danger {
  background-color: tomato;
}

.td-btn-info {
  background-color: dodgerblue;
}

/* User forms */

.user {
  width: 50%;
}

/* Post forms */

.post {
  width: 60%;
}

/* Select forms */

.select {
  width: 60%;
}

.select-btn {
  color: rgb(0, 0, 0);
  padding: 4px 25px;
}

/* Forms Divs */

.div-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.div-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Form inputs, labels and btns */

.form-labels {
  font-weight: 700;
  font-size: 16px;
  margin: 2rem 1rem 2rem 0;
}

.form-inputs {
  border-radius: 5px;
  border: 1px solid black;

  padding: 5px;
  margin-right: 1rem;
  font-size: 16px;

  box-sizing: border-box;
  width: 500px;
}

.form-btn {
  color: rgb(0, 0, 0);
  padding: 8px 20px;
}

.form-btn:hover {
  background-color: rgb(132, 245, 128);
  color: rgb(12, 52, 10);
  border-width: 1px;
}
