.flex-row {
  display: flex;
  flex-direction: row;
}

.user-image {
  border: 2.5px solid black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: 2rem;
}

.comment-image {
  border: 2.5px solid black;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  margin-right: 1rem;
}

.comment-date {
  margin-left: 1rem;
}

.about-me {
  margin: 1rem;
  padding: 1rem 2rem;
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 2px 2px 5px grey inset;
}

.reply-btn {
  padding: 2px;
  font-size: 15px;
}
